In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./past_exp_metrics.csv")

In [3]:
df_on = df.dropna()

In [4]:
df_on.head()

   on_CVR  on_ACBV  on_pNDCG_48  off_pNDCG_48  off_pNDCG_10
1   -0.35     0.26         2.82         -0.33         -0.46
2    0.07    -1.10         0.32          0.71          1.16
3   -0.65    -1.02         2.73          1.56          2.26
5   -0.91     1.09         3.05         -0.52         -0.81
6   -0.64     0.57        -0.20         -0.40         -0.56

In [5]:
df_on.shape[0]

22

In [6]:
np.sum(df_on.on_CVR * df_on.off_pNDCG_48 > 0)

14

In [7]:
np.sum(df_on.off_pNDCG_10 * df_on.off_pNDCG_48 > 0)

22

In [8]:
np.sum(df_on.off_pNDCG_48 * df_on.on_pNDCG_48 > 0)

13

In [10]:
print(df_on[["on_CVR", "off_pNDCG_10"]].corr(method='pearson'))
print(df_on[["on_CVR", "off_pNDCG_10"]].corr(method='spearman'))

                on_CVR  off_pNDCG_10
on_CVR        1.000000     -0.054188
off_pNDCG_10 -0.054188      1.000000
                on_CVR  off_pNDCG_10
on_CVR        1.000000      0.198361
off_pNDCG_10  0.198361      1.000000

In [11]:
df.shape[0]

27

In [12]:
np.sum(df.on_pNDCG_48 * df.on_CVR > 0)

8

In [1]:
import pandas as pd
import numpy as np

In [2]:
online_raw_df = pd.read_csv("./online_metrics.csv")
offline_raw_df = pd.read_csv("./offline_metrics.csv")

In [3]:
online_raw_df.columns

Index(['config_flag', 'start_date', 'end_date', 'variant_id', 'metric',
       'relative_change', 'p_value', 'is_significant'],
      dtype='object')

In [4]:
online_raw_df["res"] = online_raw_df.apply(lambda row: (np.round(row["relative_change"], 2), row["is_significant"]), axis=1)

In [5]:
online_raw_df.head()

,config_flag,start_date,end_date,variant_id,metric,relative_change,p_value,is_significant,res
0,ranking/search.mmx.2025_q2.nrv2_clip_push_air_...,2025-06-09,2025-06-11,nrv2_clip_push_air_unified,Conversion Rate,-0.781254,0.018783,True,"(-0.78, True)"
1,ranking/search.mmx.2025_q2.nrv2_clip_push_air_...,2025-06-09,2025-06-11,nrv2_clip_push_air_unified,GMS per Unit,-0.849155,0.211644,False,"(-0.85, False)"
2,ranking/search.mmx.2025_q2.nrv2_clip_push_air_...,2025-06-09,2025-06-11,nrv2_clip_push_air_unified_sw,Conversion Rate,-1.204569,0.000290,True,"(-1.2, True)"
3,ranking/search.mmx.2025_q2.nrv2_clip_push_air_...,2025-06-09,2025-06-11,nrv2_clip_push_air_unified_sw,GMS per Unit,-0.401354,0.553345,False,"(-0.4, False)"
4,ranking/search.mmx.2025_q2.nrv2_unified_rankin...,2025-05-23,2025-06-08,on,Conversion Rate,-0.185243,0.043404,True,"(-0.19, True)"

In [6]:
online_df = online_raw_df.pivot(index=['config_flag', 'start_date', 'end_date', "variant_id"], columns='metric', values='res')
online_df = online_df.reset_index()

In [7]:
online_df

metric,config_flag,start_date,end_date,variant_id,Conversion Rate,GMS per Unit,purchase NDCG
0,ranking/isearch.listing_diversity_mmr,2025-01-16,2025-01-20,on,"(-1.53, True)","(-2.06, True)","(1.87, True)"
1,ranking/isearch.listing_diversity_mmr_v2_0p7,2025-02-14,2025-02-26,on,"(-0.41, False)","(-1.12, True)",NaN
2,ranking/isearch.listing_diversity_mmr_v2_0p9,2025-02-14,2025-02-26,on,"(-0.38, False)","(-0.89, False)",NaN
3,ranking/search.mmx.2024_q2.nrv2_multitask_boe,2024-06-17,2024-06-26,on,"(-0.34, False)",NaN,"(5.97, False)"
4,ranking/search.mmx.2024_q2.nrv2_multitask_web,2024-06-17,2024-06-26,on,"(0.12, False)",NaN,"(-0.18, False)"
...,...,...,...,...,...,...,...
64,ranking/search.mmx.2025_q2.nrv2_unif_emb_b360_si,2025-04-08,2025-04-22,unified_embedding,"(0.14, False)","(-0.15, False)","(0.3, False)"
65,ranking/search.mmx.2025_q2.nrv2_unif_emb_so,2025-04-08,2025-04-22,on,"(-0.65, True)","(-0.11, False)","(0.5, True)"
66,ranking/search.mmx.2025_q2.nrv2_unified_ranking,2025-05-07,2025-05-15,nrv2_us_intl_v2_digital_si,"(-0.21, False)","(0.04, False)","(1.42, True)"
67,ranking/search.mmx.2025_q2.nrv2_unified_ranking,2025-05-07,2025-05-15,nrv2_us_intl_v2_si,"(0.01, False)","(0.07, False)","(1.75, True)"
68,ranking/search.mmx.2025_q2.nrv2_unified_rankin...,2025-05-23,2025-06-08,on,"(-0.19, True)","(-0.33, False)","(1.51, True)"

In [8]:
online_df["cvr"] = online_df["Conversion Rate"].apply(lambda x: x if pd.isnull(x) else x[0])
online_df["gms_per_unit"] = online_df["GMS per Unit"].apply(lambda x: x if pd.isnull(x) else x[0])
online_df["pndcg"] = online_df["purchase NDCG"].apply(lambda x: x if pd.isnull(x) else x[0])

online_df["cvr_sig"] = online_df["Conversion Rate"].apply(lambda x: x if pd.isnull(x) else x[1])
online_df["gms_per_unit_sig"] = online_df["GMS per Unit"].apply(lambda x: x if pd.isnull(x) else x[1])
online_df["pndcg_sig"] = online_df["purchase NDCG"].apply(lambda x: x if pd.isnull(x) else x[1])

In [9]:
online_df = online_df.sort_values(by=['start_date', 'variant_id'], ascending=[False, True])

In [10]:
online_df.to_csv("online_metrics_clean.csv")