In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("explicit_negatives.csv")

In [3]:
df.head()

       Unnamed: 0  Unnamed: 1       Unnamed: 2    Unnamed: 3  Unnamed: 4
0  Gold Query Set         NaN              NaN           NaN         NaN
1      07/28/2023  Congzhe Su  travi scott rug  1.398464e+09   5677224.0
2      07/28/2023  Congzhe Su         wall art  7.501822e+08   6055794.0
3      07/28/2023  Congzhe Su           preppy  1.072823e+09   6901827.0
4      07/28/2023  Congzhe Su              rug  1.184896e+09   7803638.0

In [4]:
df = df.drop(0)
df.columns = ["date", "reporter", "query", "listing_id", "shop_id"]

In [5]:
df = df[["query", "listing_id"]]
df.listing_id = df.listing_id.astype(int)

In [6]:
df.head()

             query  listing_id
1  travi scott rug  1398463810
2         wall art   750182200
3           preppy  1072822761
4              rug  1184895686
5         wall art  1184895686

In [7]:
df.shape

(4601, 2)

In [8]:
df.groupby("listing_id").count().sort_values("query", ascending=False).head(n=20)

            query
listing_id
1189955105   1090
1430225274    583
1347295099    460
1023099765    431
1420407748    250
1418810594    137
1503671388     74
1203360316     67
1430837875     61
1101251216     53
1222776723     50
1430096165     48
1209425910     46
1372390868     44
745699350      34
1325402338     34
1247427236     33
1306170838     31
1446932352     27
1480658679     24

In [9]:
queries = list(set([
    "lemon eye",
    "sourdough starter",
    "cyberpunk 2077",
    "apollo statue",
    "door harp",
    "goblin slayer armor",
    "sailor jupiter",
    "tin fish plate",
    "dream catcher",
    "moon phase wall art",
    "short curtains",
    "mindfulness creative kits",
    "crystals and herbs",
    "norse jewelry",
    "laufey photocards",
    "boho skirts",
    "maximalist decor",
    "oil lamp",
    "vanity shelf",
    "reading lamp",
    "spice rack",
    "carnelian",
    "paramore tshirt",
    "wall tapestry",
    "safety keychain set",
    "moonstone",
    "butter dish",
    "linen skirt",
    "vampire",
    "candle stick holders",
    "skull necklace",
    "mushroom shelf",
    "raven ring",
    "alligator",
    "celtic necklace",
    "camphouse",
    "antique rings",
    "good luck poster",
    "lighting",
    "video game inspired planters",
    "makeup kits",
    "celestial jeweley",
    "mother earth pipe",
    "disco ball",
    "rocks",
    "embroidery dress",
    "small curio cabinet",
    "mosaic lamp",
    "watercolor mermaid print",
    "brass mouse",
    "wall art prints",
    "2024 lunar calendar",
    "crow",
    "bug blanket",
    "accent bowls",
    "tree of life",
    "skull lamp shade",
    "granola",
    "goddess statue",
    "fairy door",
    "corner wall planter",
    "shoulder bag",
    "retro decor",
    "cloak",
    "wooden headboard",
    "miniatures",
    "charm bracelet",
    "clothing",
    "boho night light",
    "harness outfit",
    "furniture",
    "vase",
    "dome chandelier",
    "80s prom",
    "mid century modern furniture",
    "pizza",
]))

listings = [
    1532898330,
    1581863927
]

In [10]:
len(queries)

76

In [11]:
sorted(queries)

['2024 lunar calendar',
 '80s prom',
 'accent bowls',
 'alligator',
 'antique rings',
 'apollo statue',
 'boho night light',
 'boho skirts',
 'brass mouse',
 'bug blanket',
 'butter dish',
 'camphouse',
 'candle stick holders',
 'carnelian',
 'celestial jeweley',
 'celtic necklace',
 'charm bracelet',
 'cloak',
 'clothing',
 'corner wall planter',
 'crow',
 'crystals and herbs',
 'cyberpunk 2077',
 'disco ball',
 'dome chandelier',
 'door harp',
 'dream catcher',
 'embroidery dress',
 'fairy door',
 'furniture',
 'goblin slayer armor',
 'goddess statue',
 'good luck poster',
 'granola',
 'harness outfit',
 'laufey photocards',
 'lemon eye',
 'lighting',
 'linen skirt',
 'makeup kits',
 'maximalist decor',
 'mid century modern furniture',
 'mindfulness creative kits',
 'miniatures',
 'moon phase wall art',
 'moonstone',
 'mosaic lamp',
 'mother earth pipe',
 'mushroom shelf',
 'norse jewelry',
 'oil lamp',
 'paramore tshirt',
 'pizza',
 'raven ring',
 'reading lamp',
 'retro decor',
 'rocks',
 'safety keychain set',
 'sailor jupiter',
 'short curtains',
 'shoulder bag',
 'skull lamp shade',
 'skull necklace',
 'small curio cabinet',
 'sourdough starter',
 'spice rack',
 'tin fish plate',
 'tree of life',
 'vampire',
 'vanity shelf',
 'vase',
 'video game inspired planters',
 'wall art prints',
 'wall tapestry',
 'watercolor mermaid print',
 'wooden headboard']

How I picked queries above: 
- print out SR training data query listing pairs, get queries if listing is one of the three-witches listings
- limit to queries that are not relevant to witch
- verify on etsy search results to see if I observe the listing
- add examples from search-feedback

above queries roughly half from boe, half from web

In [12]:
full_queries = queries + queries
full_listings = [1532898330] * len(queries) + [1581863927] * len(queries)
three_witches_df = pd.DataFrame({"query": full_queries, "listing_id": full_listings})

In [13]:
three_witches_df.head()

               query  listing_id
0     mushroom shelf  1532898330
1    celtic necklace  1532898330
2       vanity shelf  1532898330
3               vase  1532898330
4  mother earth pipe  1532898330

In [14]:
three_witches_df.shape

(152, 2)

In [15]:
negative_df = pd.concat([df, three_witches_df])

In [16]:
negative_df.shape

(4753, 2)

In [17]:
negative_df.to_csv("semantic_relevance_negatives.csv")

In [19]:
three_witches_df.to_csv("three_witches.csv")