In [1]:
import pandas as pd

In [2]:
human_anno_test = pd.read_excel("./annotation_dataset_test_v1.xlsx")

In [3]:
human_anno_test.shape

(2905, 23)

In [4]:
human_anno_test.head()

,Unnamed: 0,etsy_uuid,listingId,query,platform,bin,taxonomy,title,bordaRank,finalRank,...,tags,title_1,verticaListingTranslations_primaryLanguageTitle,labels,agreedLabel,majorityLabel,etsy_label,gold_label,is_test,is_ranking_uuid
0,180,Eu-S4SRvKeFp7_iq6o5vj--oTff7,184185194,royal purple,boe,head,weddings.clothing.dresses,10 Pcs 8-10&quot; 10-12&quot; 12-14&quot; 14-1...,27,601,...,.centerpieces.bridal.wedding.feathers.ostrich....,10 Pcs 8-10&quot; 10-12&quot; 12-14&quot; 14-1...,NaN,"[1, 1, 1]",1.0,1.0,NaN,1,True,True
1,181,Eu-S4SRvKeFp7_iq6o5vj--oTff7,227662738,royal purple,boe,head,weddings.clothing.dresses,100 pcs purple ostrich feather plumes for wedd...,121,254,...,.wedding centerpiece.wedding deocr.table cente...,100 pcs purple ostrich feather plumes for wedd...,NaN,"[4, 4, 1]",NaN,4.0,NaN,4,True,True
2,182,Eu-S4SRvKeFp7_iq6o5vj--oTff7,651859700,royal purple,boe,head,weddings.clothing.dresses,"Royal Purple Hand Spun Merino Wool, DK / Worst...",77,44,...,.Handspun Yarn.Hand Spun Yarn.Purple Hand Spun...,"Royal Purple Hand Spun Merino Wool, DK / Worst...",NaN,"[4, 4, 4]",4.0,4.0,NaN,4,True,True
3,183,Eu-S4SRvKeFp7_iq6o5vj--oTff7,731666840,royal purple,boe,head,weddings.clothing.dresses,TRICORN &quot;BATHORY&quot; Royal Purple Hat f...,132,271,...,.tricorne hat.purple hat.steampunk hat.purple ...,TRICORN &quot;BATHORY&quot; Royal Purple Hat f...,NaN,"[4, 4, 4]",4.0,4.0,NaN,4,True,True
4,185,Eu-S4SRvKeFp7_iq6o5vj--oTff7,881161512,royal purple,boe,head,weddings.clothing.dresses,Fanya Kaftan Dress ( Royal Dark purple )// kaf...,0,643,...,.Kaftan.Wedding.Babyshower.Bridal.Bridesmaids....,Fanya Kaftan Dress ( Royal Dark purple )// kaf...,NaN,"[4, 4, 4]",4.0,4.0,NaN,4,True,True

In [5]:
human_anno_test.is_ranking_uuid.value_counts()

True     2357
False     548
Name: is_ranking_uuid, dtype: int64

In [6]:
uuid_df = human_anno_test[["etsy_uuid", "is_ranking_uuid"]].drop_duplicates()

In [7]:
uuid_df.shape

(151, 2)

In [8]:
len(uuid_df.etsy_uuid.unique())

151

In [9]:
uuid_df.is_ranking_uuid.value_counts()

True     123
False     28
Name: is_ranking_uuid, dtype: int64

In [12]:
test_data = human_anno_test[human_anno_test.is_ranking_uuid][["etsy_uuid", "query", "listingId", "gold_label", "labels", "agreedLabel",	"majorityLabel", "etsy_label"]]

In [13]:
test_data.head()

,etsy_uuid,query,listingId,gold_label,labels,agreedLabel,majorityLabel,etsy_label
0,Eu-S4SRvKeFp7_iq6o5vj--oTff7,royal purple,184185194,1,"[1, 1, 1]",1.0,1.0,NaN
1,Eu-S4SRvKeFp7_iq6o5vj--oTff7,royal purple,227662738,4,"[4, 4, 1]",NaN,4.0,NaN
2,Eu-S4SRvKeFp7_iq6o5vj--oTff7,royal purple,651859700,4,"[4, 4, 4]",4.0,4.0,NaN
3,Eu-S4SRvKeFp7_iq6o5vj--oTff7,royal purple,731666840,4,"[4, 4, 4]",4.0,4.0,NaN
4,Eu-S4SRvKeFp7_iq6o5vj--oTff7,royal purple,881161512,4,"[4, 4, 4]",4.0,4.0,NaN

In [14]:
test_data.shape

(2357, 8)

In [15]:
query_listing_df = test_data[["query", "listingId"]].drop_duplicates()

In [16]:
query_listing_df.shape

(2357, 2)

In [18]:
len(test_data["query"].unique())

123

In [19]:
len(test_data["listingId"].unique())

2353

In [20]:
test_data.to_csv("./semantic_relevance_v1_test.csv")