In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_json("./emqueries_try1.json", lines=True)

In [3]:
df.head()

,mmxRequestUUID,guid,query,date,platform,userLanguage,userCountry,n_total,n_em,listingIdArray,semrelClassArray,rankingRankArray,pct_em,queryBin
0,342fe2f4-a260-4fcc-ae6c-18eb0f0503f2,29693579-3c93-40d6-89df-65417857996f,dappled billy goat,2025-07-22,web,en-US,US,48,0,"[1600494547, 1669993831, 270370201, 4333207483...","[Partial, Partial, Partial, Partial, Partial, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.0,tail
1,8b4e4fa0-9c19-4335-b244-eca060a0602f,f344c653-33b3-4951-81b8-14639bf18ac3,us history decor ruth,2025-07-22,web,en-US,US,48,0,"[606343172, 532679072, 1750304859, 1044760620,...","[Partial, Partial, Partial, Partial, Partial, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.0,tail
2,27ab7ae9-1f48-49d6-be83-2bf8f4bbc4d0,8c30faae-c0d6-4bbe-8edd-ac14c70f8f71,cam&#39;s banner co,2025-07-22,web,en-US,US,48,0,"[1832968671, 4312513569, 1756655045, 870642156...","[Partial, Partial, Partial, Partial, Partial, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.0,tail
3,d51ce7ff-8404-4b3a-8561-c79e72574570,ae08ce4c-9dd3-4fd8-b1f2-09d5f19bccf2,oju ologbo,2025-07-22,web,en-US,US,48,0,"[1711701772, 1840452365, 1803679619, 851123047...","[Irrelevant, Irrelevant, Partial, Irrelevant, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.0,head
4,3cfc4915-541d-4013-8630-b6eeafbc384b,91b77163-fa25-486e-8a56-81ac6df48529,cally lilly designs to emboss on wedding invit...,2025-07-22,web,en-US,US,48,0,"[1684886075, 4332413145, 1343278647, 974245866...","[Partial, Partial, Partial, Partial, Partial, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.0,tail

In [4]:
base_url = "https://atlas.etsycorp.com/recsys/listing_viewer.php?listing_ids="
listing_viewer_urls = []

for i in range(df.shape[0]):
    listings = df["listingIdArray"][i]
    query = df["query"][i]
    curr_url = f"{base_url}{query},{','.join(listings)}"
    listing_viewer_urls.append(curr_url)

In [5]:
df.loc[:, "listing_viewer_urls"] = listing_viewer_urls

new_df = df[["query", "date", "queryBin", "pct_em", "listing_viewer_urls"]]
new_df.to_csv("./emqueries_try1_viewer.csv", index=False)